# Python Basics NoteBook

In [1]:
#Write a Python code to return your Python version
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=8, micro=5, releaselevel='final', serial=0)

In [9]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]

id='513'

print('customer id =',id)

customer id = 513

In [34]:
#Run the following statement, why there is an error

id=id+1
#we are trying to add an int to a ser

TypeError: can only concatenate str (not "int") to str

In [31]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id

new_id = int(id)+1
print(new_id)

514

In [5]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.

print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [25]:
#Givin the following string variable, # Print the first element in the string

course="python for Data Science"
course[0]

'p'

In [26]:
# Print the element on the 13th index in the string

course[13]

't'

In [35]:
# Find the length of string

len("course")

6

In [36]:
# Print the last element in the string [use negative index]

course[-1]

'T'

In [27]:
# Take the slice on variable course with only index 11 to index 14

course[11:15]

'Data'

In [38]:
# Get every third element in the range from index 0 to index 20

course[0:20:3]

'PH_RA_I'

In [39]:
# Concatenate course string with ", AI & Development"

course=course+', AI & Development'
print(course)

PYTHON_FOR_DATA_SCIENCE,_AI_&_DEVELOPMENT, AI & Development

In [40]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
course = course.replace(' ','_')
print(course)

PYTHON_FOR_DATA_SCIENCE,_AI_&_DEVELOPMENT,_AI_&_Development

In [41]:
# Convert all the characters in string to upper case
course = course.upper()
print(course)

PYTHON_FOR_DATA_SCIENCE,_AI_&_DEVELOPMENT,_AI_&_DEVELOPMENT