In [2]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)

myTuple=("NPower","JDA","Tuesday",30,3,2021)
myTuple
print(myTuple)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [3]:
#Q2 What is the type of myTuple

type(myTuple)

tuple

In [4]:
#Q3 What is the length of myTuple

len(myTuple)

6

In [7]:
#Q4 print the values in each index #Use regular indexing 

print(myTuple[0], myTuple[1], myTuple[2], myTuple[3], myTuple[4], myTuple[5]) 
myTuple[:]

NPower JDA Tuesday 30 3 2021

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [6]:
#Q5 print the values in each index #Use negative indexing 

print(myTuple[-1], myTuple[-2], myTuple[-3], myTuple[-4], myTuple[-5], myTuple[-6])
myTuple[:]

2021 3 30 Tuesday JDA NPower

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [9]:
#Q6 what is the type of each value

print(type(myTuple[0]), type(myTuple[1]), type(myTuple[2]), type(myTuple[3]), type(myTuple[4]), type(myTuple[5]))

<class 'str'> <class 'str'> <class 'str'> <class 'int'> <class 'int'> <class 'int'>

In [12]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year accordingly 
# print the variables 

name,program,dayName,month,day,year = myTuple
print(name,program,dayName,month,day,year)

NPower JDA Tuesday 30 3 2021

In [11]:
#Q8 unpack myTuple2 in the follwoeing variablesname,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
myTuple2=("name","program","dayName","month","day","year")
myTuple2

('name', 'program', 'dayName', 'month', 'day', 'year')

In [ ]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan")#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

In [13]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and holding different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [19]:
#Q9 Reverse myTuple, output should looks like ("NPower","JDA","Tuesday",30,3,2021)

myTuple[::-1]
tuple(reversed(myTuple))
print(myTuple)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [20]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
print(nestedTuple)

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [21]:
#Q11 What is the output of nestedTuple[1:2]

nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [ ]:
#Q12 print each element in the nestedTuple

print(nestedTuple)

In [23]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple

nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [26]:
#Q14 Access "Lists" from nestedTuple

nestedTuple[1][1][1]

'Lists'

In [27]:
#Q15 Access "Tuple" from nestedTuple

nestedTuple[1][1][2]

'Tuple'

In [28]:
#Q16 Access "course" from nestedTuple

nestedTuple[0][1]

'course'

In [37]:
#Q17 Concatenate myTuple with nestedTuple

myTuple=myTuple+nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Akash',
 '',
 'Akash',
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [38]:
#Q18 add your name to the tuple

myTuple=myTuple+("Akash",)
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Akash',
 '',
 'Akash',
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Akash')

In [41]:
#Q19 check whether Coursera exists within a myTuple

'Coursera' in myTuple

# NOTE in doesn't work properly with nested tuples # Wrong output

False

In [43]:
#Q20 check whether an element exists within a testTuple

5 in testTuple  #checking if testTuple has the same value

len(testTuple)  # checking if there is any data in testTuple

3

In [49]:
#Q21 Find the index of JDA in myTuple

myTuple.index('JDA')
# Find the index of 'Coursera' in myTuple

myTuple.index('Coursera') #because its in nestedTuple
# NOTE index doesn't work properly with nested tuples # Wrong output

ValueError: tuple.index(x): x not in tuple

In [50]:
#Q22 print index 8 from myTuple

print(myTuple[8])

Akash

In [55]:
#Q23 Get the 4th element and 4th element from last of a myTuple

print(myTuple[3],myTuple[-4])

30 Akash

In [57]:
#Q24 Find how many times 27 appeared in the tuple [Hint: Use method count()]

myTuple.count(27)

0